:root {
    --primary-color: rgb(0, 110, 182);
    --main-padding: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

ul {
    list-style: none;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header > span {
    padding-left: 20px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

header > img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
  }

  #js-mobile-menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 20px;
    top: -48px;
    cursor: pointer;
  }
  
  #js-mobile-menu::before {
    content: "☰";
  }
  
  .js-mobile-open #js-mobile-menu::before {
    content: "X";
  }
nav ul {
    background-color: black;
}

nav a {
    display: block;
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a.active,
nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

main {
    padding: 0 var(--main-padding);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 22px;
    text-align: center;
    margin: 30px 0 20px;
    border-bottom: 1px solid black;
}

.card {
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.card h2 {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 12px;
}

.card ul {
    padding: 15px;
}

.card.information li {
    text-align: center;
    margin: 10px;
}

footer {
    margin-top: 40px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

footer p {
    text-align: center;
}

footer p:first-child > span {
    display: block;
    padding: 5px;
}

#lastModified {
    margin-top: 10px;
    color: yellow;
    font-size: 14px;
}
